<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>The Karat Shop</title>
	<link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
	<meta name="theme-color" content="#F9F5F2">
	<meta name="msapplication-navbutton-color" content="#F9F5F2">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F9F5F2">
</head>

<body id="blog">
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section blog-page">
		<div class="page-top">
			<div class="container">
				<div class="breadcrumbs">
				<span>
					<a href="/">Home</a>
				</span>
					<span> / </span>
					<span>Blog</span>
				</div>
				<span class="page-title">Blog</span>
			</div>
		</div>
		<div class="blog-main">
			<div class="container">
				<div class="blog-title">Learn with us</div>
				<div class="row blog-main__wrapper">
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-01.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Earring Trends 2024: The Ultimate Guide to Stylish Ear Adornments</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-02.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">10 Bestselling Chain Necklace Designs for Women</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-03.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Get answers. Find inspiration. Be more productive.</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-04.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">Smart. Casual. | Outfit Ideas for Your Best Study Session</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-05.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Dress for Success: What to Wear During Interview Season</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-06.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">Build It Your Way. Curate your story on a chain. Choose from our collection of birthstones to symbols and more</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-07.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Earring Trends 2024: The Ultimate Guide to Stylish Ear Adornments</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-08.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">10 Bestselling Chain Necklace Designs for Women</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-09.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Get answers. Find inspiration. Be more productive.</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-10.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">Smart. Casual. | Outfit Ideas for Your Best Study Session</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-11.jpg" loading="lazy" alt="">
							<span class="blog-item__date">12/12/2024</span>
							<span class="blog-item__title">Dress for Success: What to Wear During Interview Season</span>
						</a>
					</div>
					<div class="col-lg-6 col-md-6">
						<a href="javascript:void(0)" class="blog-item">
							<img src="../../images/blog-12.jpg" loading="lazy" alt="">
							<span class="blog-item__date">07/05/2024</span>
							<span class="blog-item__title">Build It Your Way. Curate your story on a chain. Choose from our collection of birthstones to symbols and more</span>
						</a>
					</div>
				</div>
			<div class="pagination">
					<nav>
						<ul>
							<li class="current">
								<a href="javascript:void(0)">1</a>
							</li>
							<li>
								<a href="javascript:void(0)">2</a>
							</li>
							<li>
								<a href="javascript:void(0)">3</a>
							</li>
							<li>
								<a href="javascript:void(0)">...</a>
							</li>
							<li>
								<a href="javascript:void(0)">46</a>
							</li>
							<li>
								<a href="javascript:void(0)">...</a>
							</li>
							<li>
								<a href="javascript:void(0)">170</a>
							</li>
						</ul>
						<div>
							<a href="javascript:void(0)" class="prev disabled">
								<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M-7.82817e-07 7.71289L7 0.712891L3.5 7.71289L7 14.7129L-7.82817e-07 7.71289Z" fill="#191919"/>
									<line x1="2" y1="7.70605" x2="18" y2="7.70606" stroke="#191919"/>
								</svg>
							</a>
							<span>
										<svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg">
											<line x1="16.1615" y1="0.286788" x2="0.958119" y2="21.9995" stroke="#191919"/>
										</svg>
									</span>
							<a href="javascript:void(0)" class="next">
								<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18 7.71289L11 14.7129L14.5 7.71289L11 0.712891L18 7.71289Z" fill="#191919"/>
									<line x1="16" y1="7.71973" x2="-4.37113e-08" y2="7.71973" stroke="#191919"/>
								</svg>
							</a>
						</div>
					</nav>
					<a href="javascript:void(0)" class="btn">
								<span>
								Load More
									<svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="white"/>
									</svg>
								</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
