<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>The Karat Shop</title>
	<link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
	<meta name="theme-color" content="#F9F5F2">
	<meta name="msapplication-navbutton-color" content="#F9F5F2">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F9F5F2">
</head>

<body id="team">
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section team-page">
		<div class="page-top">
			<div class="container">
				<div class="breadcrumbs">
				<span>
					<a href="/">Home</a>
				</span>
					<span> / </span>
					<span>Team</span>
				</div>
				<span class="page-title">Our Team</span>
			</div>
		</div>
		<div class="team-main">
			<div class="container">
				<div class="team-text">
					<div class="team-pic">
						<picture>
							<source srcset="../../images/team.jpg" media="(min-width: 575px)">
							<source srcset="../../images/team-mob.jpg" media="(max-width: 574px)">
							<img src="../../images/team.jpg" loading="lazy" alt="Team">
						</picture>
					</div>
					<h2>Meet our talented and passionate professionals</h2>
					<div>
						<p>Every member of our staff has extensive knowledge about our jewelry and can help you chose the perfect piece. Most of our sales associates have over 25 years of experience in their fields and will offer personal and courteous attention. They attend jewelry shows, read current articles in jewelry trade publications and stay up to date on all the popular trends. Our employees will be very helpful in assisting you with your jewelry needs.</p>
						<p>We also have graduates of the Gemological Institute of America (GIA) on staff, who can appraise your jewelry and offer advice with specific diamond questions.</p>
					</div>
					<div>
						<p>We pride ourselves on our friendly customer service. Over the years we have gotten to know many of our customers personally and have maintained wonderful relationships with them. We love helping them celebrate special family occasions, such as births, baptisms, Bar/Bat Mitzvahs, engagements, weddings, birthdays and anniversaries. A special bond is formed when we help them select the perfect piece of jewelry to commemorate all these milestones in their lives. We value their trust in us and look forward to creating memories with new customers.</p>
						<p>We have experienced jewelry designers on staff. If you can’t find exactly what you are looking for, we can help you create it. From sketch to finished product, we will guide you every step of the way. Perhaps you want to update your engagement ring or a family heirloom. We can help with that too! With hundreds of mountings in stock, we will help you choose the perfect style or create a new one, just for you.</p>
					</div>
					<div>
						<p>This is where we shine! Choosing the perfect engagement ring is so very important and we understand that here at The Karat Shop. This special ring marks the beginning of your life together. We have a tremendous selection of diamonds and settings in our inventory, or we can help you create a ring as unique as your love. Whether you want anatural diamond, a lab grown diamond or other precious stones, we know you will find the perfect ring.</p>
						<p>An extensive selection of wedding bands is available as well. From a simple and classic gold or platinum band to a brilliant diamond eternity band, we have all sizes and styles to suit your needs. If you’re not sure what you’d like, come see us and our friendly associates will be happy to make suggestions and encourage you to try on various styles.</p>
						<p>Our promise and our philosophy at The Karat Shop is to always provide our customers with exceptional customer service, the highest level of professionalism, a pleasant shopping experience, a very extensive selection of quality merchandise at competitive prices, and 100% Customer Satisfaction. We strive to always exceed your expectations.</p>
					</div>
				</div>
				<div class="team-help">
					<span class="team-help__title">Interested in How We Can Help You?</span>
					<a href="javascript:void(0)" class="btn">
						<span>
							Contact Us
							<svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="white"/>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>
