<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>The Karat Shop</title>
	<link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
	<meta name="theme-color" content="#F9F5F2">
	<meta name="msapplication-navbutton-color" content="#F9F5F2">
	<meta name="apple-mobile-web-app-status-bar-style" content="#F9F5F2">
</head>

<body id="wishlist">
<include src="app/assets/templates/parts/header.html"></include>
<main class="main">
	<div class="section wishlist-page">
		<div class="catalog-top">
			<div class="container">
				<div class="catalog-top__wrapper">
					<span class="page-title">My wishlist</span>
					<a href="javascript:void(0)" class="btn btn-w btn-share popup-btn" data-mfp-src="#wishlist-share-popup">
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
								  <path d="M13.3998 14L6.2998 10.7" stroke="#191919" stroke-width="1.1"></path>
								  <path d="M13.5 5.5L6.5 8.8" stroke="#191919" stroke-width="1.1"></path>
								  <path d="M15.5002 6.89999C16.7705 6.89999 17.8002 5.87024 17.8002 4.59999C17.8002 3.32973 16.7705 2.29999 15.5002 2.29999C14.2299 2.29999 13.2002 3.32973 13.2002 4.59999C13.2002 5.87024 14.2299 6.89999 15.5002 6.89999Z" stroke="#191919" stroke-width="1.1"></path>
								  <path d="M15.5002 17.1C16.7705 17.1 17.8002 16.0703 17.8002 14.8C17.8002 13.5297 16.7705 12.5 15.5002 12.5C14.2299 12.5 13.2002 13.5297 13.2002 14.8C13.2002 16.0703 14.2299 17.1 15.5002 17.1Z" stroke="#191919" stroke-width="1.1"></path>
								  <path d="M4.5002 12.1C5.77045 12.1 6.8002 11.0703 6.8002 9.8C6.8002 8.52975 5.77045 7.5 4.5002 7.5C3.22994 7.5 2.2002 8.52975 2.2002 9.8C2.2002 11.0703 3.22994 12.1 4.5002 12.1Z" stroke="#191919" stroke-width="1.1"></path>
								</svg>
								Share
								<svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="#191919"></path>
								</svg>
							</span>
					</a>
				</div>
			</div>
		</div>
		<div class="wishlist-main">
			<div class="container">
				<div class="wishlist-items">
					<div class="row catalog-items">
						<div class="col-lg-3">
							<div class="product-item">
								<a href="javascript:void(0)"></a>
								<div class="product-item__labels">
								</div>
								<div class="product-item__pic">
									<img src="../../images/product-04.jpg" loading="lazy" alt="" data-color="gold">
									<img src="../../images/product-02.jpg" loading="lazy" alt="" data-color="silver">
									<img src="../../images/product-03.jpg" loading="lazy" alt="" data-color="pink">
								</div>
								<div class="product-item__price">$1404</div>
								<div class="product-item__title">14k Two Tone Diamond Drop Earring With Yellow Gold Filigree And Turquoise Center Stone</div>
								<div class="product-item__spacer"></div>
								<div class="product-item__colors">
									<a href="javascript:void(0)" class="product-item__color" data-color="gold"></a>
									<a href="javascript:void(0)" class="product-item__color" data-color="silver"></a>
									<a href="javascript:void(0)" class="product-item__color" data-color="pink"></a>
								</div>
								<!--<a href="javascript:void(0)" class="btn">
                                <span>
                                    Order
                                    <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="white"/>
                                    </svg>
                                </span>
								</a>-->
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product-item">
								<a href="javascript:void(0)"></a>
								<div class="product-item__labels">
								</div>
								<div class="product-item__pic">
									<img src="../../images/product-01.jpg" loading="lazy" alt="" data-color="gold">
								</div>
								<div class="product-item__price">$773</div>
								<div class="product-item__title">Lovely Bridal Set</div>
								<div class="product-item__spacer"></div>
								<div class="product-item__colors"></div>
								<!--<a href="javascript:void(0)" class="btn">
                                <span>
                                    Order
                                    <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="white"/>
                                    </svg>
                                </span>
								</a>-->
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product-item">
								<a href="javascript:void(0)"></a>
								<div class="product-item__labels">
									<span>Best sellers</span>
								</div>
								<div class="product-item__pic">
									<img src="../../images/product-02.jpg" loading="lazy" alt="" data-color="gold">
									<img src="../../images/product-01.jpg" loading="lazy" alt="" data-color="silver">
									<img src="../../images/product-03.jpg" loading="lazy" alt="" data-color="pink">
								</div>
								<div class="product-item__price">$1,241</div>
								<div class="product-item__title">14k Two Tone Double Row Pave Diamond Hoop With Yellow Gold Cable Design</div>
								<div class="product-item__spacer"></div>
								<div class="product-item__colors">
									<a href="javascript:void(0)" class="product-item__color" data-color="gold"></a>
									<a href="javascript:void(0)" class="product-item__color" data-color="silver"></a>
									<a href="javascript:void(0)" class="product-item__color" data-color="pink"></a>
								</div>
								<!--<a href="javascript:void(0)" class="btn">
                                <span>
                                    Order
                                    <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4L0 8L2 4L-3.49691e-07 0L4 4Z" fill="white"/>
                                    </svg>
                                </span>
								</a>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<include src="app/assets/templates/parts/footer.html"></include>
</body>
</html>