$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$default: 'PT Sans', -apple-system, BlinkMacSystemFont, sans-serif;
$crimson: 'Crimson Text', -apple-system, BlinkMacSystemFont, serif;
$windsong: 'WindSong', -apple-system, BlinkMacSystemFont, serif;

$black: #191919;
$green: #01A167;
$gray: #ACAAAA;
$light-gray: #E9E9E9;
$cream: #EFEAE6;
$light: #F9F5F2;
$brown: #8D4914;
$red: #FF543E;

//$black: #171717;
//$dark-gray: #4D4D4D;
//$gray: #5E5E5E;
//$mid-gray: #E4E4E4;
//$light-gray: #EAEAEA;
//$light: #FBFBFB;
//$beige: #F5F2EA;
//$light-beige: #F9F6F0;
//$accent: #ED4826;
//$light-accent: #FDF5F3;
//$green: #19AF3A;
//$red: #EC1717;
